In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
vine_table = "Resources/vine_table.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
vine_table_df = pd.read_csv(vine_table, encoding="ISO-8859-1")

In [4]:
# Show just the header
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y

In [5]:
# Retrieve all rows where total_votes is equal to or > 20 to pick more helpful reviews
total_votes_df = vine_table_df.loc[vine_table_df["total_votes"] >= 20, :]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

In [6]:
# Retrieve all rows where helful votes / total votes > 50%
help_ful_votes_df = total_votes_df.loc[total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= .5, :]
help_ful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

In [7]:
vine_paid_df = help_ful_votes_df.loc[help_ful_votes_df["vine"] == "Y", :]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7585,R1MAOLI5FJHAFM,4.0,249.0,261.0,Y,N
13291,R9PYAUDIBJVEC,4.0,12.0,22.0,Y,N
23444,R6V9SHMMG5M8F,5.0,101.0,110.0,Y,N
38024,R37PVLT6ELL5J4,4.0,181.0,209.0,Y,N
88492,R2FSFGWZF24V9,4.0,50.0,51.0,Y,N

In [18]:
vine_paid_df.count()

review_id            613
star_rating          613
helpful_votes        613
total_votes          613
vine                 613
verified_purchase    613
dtype: int64

In [8]:
vine_unpaid_df = help_ful_votes_df.loc[help_ful_votes_df["vine"] == "N", :]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

In [9]:
vine_unpaid_df.count()

review_id            64968
star_rating          64968
helpful_votes        64968
total_votes          64968
vine                 64968
verified_purchase    64968
dtype: int64

In [10]:
# Get total number of reviews for Vine program (paid)
totals_paid = vine_paid_df.count()
total_reviews_paid = totals_paid["review_id"]

In [11]:
# Get the number of 5-star reviews and the percentage of 5-star reviews
five_star_reviews_paid = vine_paid_df.loc[vine_paid_df["star_rating"] == 5, "star_rating"].count()
five_star_percentage_paid = five_star_reviews_paid / total_reviews_paid * 100

In [12]:
# Get total number of reviews for Vine program (unpaid)
totals_unpaid = vine_unpaid_df.count()
total_reviews_unpaid = totals_unpaid["review_id"]

In [13]:
# Get the number of 5-star reviews and the percentage of 5-star reviews
five_star_reviews_unpaid = vine_unpaid_df.loc[vine_unpaid_df["star_rating"] == 5, "star_rating"].count()
five_star_percentage_unpaid = five_star_reviews_unpaid / total_reviews_unpaid * 100

In [14]:
# Creating a DataFrame summary and display
vine_paid_summary_table = pd.DataFrame({"Total paid reviews": total_reviews_paid,
                                    "Five star paid reviews": five_star_reviews_paid,
                                       "Five star percentage (%)": five_star_percentage_paid}, index=["totals"])
vine_paid_summary_table.head()

        Total paid reviews  Five star paid reviews  Five star percentage (%)
totals                 613                     222                 36.215334

In [15]:
# Creating a DataFrame summary and display
vine_unpaid_summary_table = pd.DataFrame({"Total unpaid reviews": total_reviews_unpaid,
                                    "Five star unpaid reviews": five_star_reviews_unpaid,
                                       "Five star percentage (%)": five_star_percentage_unpaid}, index=["totals"])
vine_unpaid_summary_table.head()

,Total unpaid reviews,Five star unpaid reviews,Five star percentage (%)
totals,64968,30543,47.012375